<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>LUV-SHOP Center</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../public/img/favicons/luv-shop-logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/img/favicons/luv-shop-logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/img/favicons/luv-shop-logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="../public/img/favicons/luv-shop-logo.png">
    <link rel="manifest" href="../public/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../public/img/favicons/luv-shop-logo.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../public/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container d-flex justify-content-center"><a class="navbar-brand" href="../index.html"><img class="img-fluid" style="height: 3.5rem;" src="../public/img/icons/luv-shop-logo-2.png" alt="" /></a></div>
      </nav>


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-5">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5 col-lg-7 order-md-1 pt-8"><img class="img-fluid" src="../public/img/illustrations/MUSEMUSE.png" alt="" /></div>
            <div class="col-md-7 col-lg-5 text-center text-md-start pt-5 pt-md-9">
              <h1 class="mb-4 display-2 fw-bold">MUSE MUSE SKIN</h1>
              <p class="mt-3 mb-4">2 in 1 สครับเนื้อมาส์กมะขามนมน้ำผึ้ง พอก ขัดผิว พร้อมบำรุงใน 1 เดียวเพื่อผิวกระจางใส สูตรพิเศษที่ผสานคุณค่าจากสารสกัดจากธรรมชาติ </p>
            </div>
          </div>
        </div>
        <!-- end of .container-->
      </section>

      <section class="py-6">
        <div class="container-lg">
          <div class="row flex-center mb-5">
            <div class="col-auto text-center my-4">
              <h1 class="mb-4 fw-bold">ข้อมูลผลิตภัณฑ์</h1>
              <p style="font-size: medium;">ส่วนประกอบ สรรพคุณ และวิธีการใช้</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-12">
              <div class="card px-md-3 py-lg-5">
                <div class="row flex-center">

                  <div class="col-md-6 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="../public/img/illustrations/MUSEMUSE_1.png" alt="" /></div>
                  <div class="col-md-12 ps-md-3 pe-md-2 text-center z-index-2 ">
                    <div class="card-body px-0">
                      <h3 class="align-items-center">มาร์คมะขามนมผึ้งสปา</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">

                  <div class="col-md-8 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="../public/img/illustrations/MUSEMUSE_3.png" alt="" /></div>

                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/SUGAR.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Blueberry Sugar Scrub</h4>
                      <p class="mb-0">สครับ 3 in 1 สบู่ มาร์ก สครับครบจบใน 1 <br class="d-none d-lg-block"> ซองผิวเนียนนุ่ม ตั้งแต่ครั้งแรกที่ใช้ เนื้อ <br class="d-none d-lg-block"> สครับไม่บาดผิว ผิวใสขึ้นอย่างเห็นได้ชัด  </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                          <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/PHITCHI.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Pitchii Coffee Scrub</h4>
                      <p class="mb-0">ผลิตภัณฑ์สครับผิวหน้าและผิวกาย <br class="d-none d-lg-block"> เพื่อผิวกระจ่างใส เนียนนุ่ม ชุ่มชื่น <br class="d-none d-lg-block"> น่าสัมผัส เมื่อใช้เป็นประจำอย่างต่อเนื่อง </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/BEAR.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Bear Cuffee</h4>
                      <p class="mb-0">ช่วยให้ผิวเรียบเนียน กระจ่างใสขึ้น <br class="d-none d-lg-block"> ช่วยผลัดเซลล์ผิวเพิ่มความชุ่มชื้น <br class="d-none d-lg-block"> เนียนนุ่ม เปล่งปลั่งมีออร่า </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/LADA.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">LADA Body Lotion</h4>
                      <p class="mb-0">โลชั่นบำรุงผิวกาย อุดมไปด้วยสาร <br class="d-none d-lg-block"> สกัดจากธรรมชาติมีมอยส์เจอร์ไรเซอร์ <br class="d-none d-lg-block"> เนื้อโลชั่นบางเบาอ่อนโยนต่อผิว กักเก็บ <br class="d-none d-lg-block"> ความชุ่มชื้น น่าสัมผัส และลดเลือน <br class="d-none d-lg-block"> จุกด่าง ดำผิวหมองคล้ำ</p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/BAIBOR.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Baibor Soap</h4>
                      <p class="mb-0">ส่วนผสมออร์แกนิก อโลเวล่า ช่วยบำรุง <br class="d-none d-lg-block"> และฟื้นฟูผิวอย่างล้ำลึก ลดสิว ผิวกระจ่างใส <br class="d-none d-lg-block"> มีออร่า รอยดำจากสิว เพิ่มความชุ่มชื่นให้ผิว <br class="d-none d-lg-block"> ปลอบประโลมผิวให้มีชีวิตชีวาอีกครั้ง </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/PEPO.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Pepo Tint</h4>
                      <p class="mb-0">ผลิตภัณฑ์ตกแต่งผิวหน้าและริมฝีปาก <br class="d-none d-lg-block"> สรรพคุณตกแต่งริมฝีปากและแก้มรูปแบบเจล <br class="d-none d-lg-block"> ทิ้นต์มีสีสดใส สีชัด ติดทน พร้มบำรุง </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-1.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/TINY.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Jujube Tiny Sugar & Balm</h4>
                      <p class="mb-0">บำรุงริมฝีปากอย่างล้ำลึกด้วยน้ำมันออร์แกนิก <br class="d-none d-lg-block"> ที่อุดมไปด้วยกรดไขมันที่จำเป็น และวิตามินอี <br class="d-none d-lg-block"> สารต้านอนุมูลอิสระ ที่ทำให้เกิดริ้วรอย และ <br class="d-none d-lg-block"> ความหมองคล้ำ </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card px-5 px-md-3 py-lg-5">
                <div class="row flex-center">
                  <div class="bg-holder z-index-1 d-none d-lg-block" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:contain;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="bg-holder z-index-1 d-block d-lg-none" style="background-image:url(public/img/illustrations/feature-bg-2.png);background-position:center;background-size:cover;">
                  </div>
                  <!--/.bg-holder-->

                  <div class="col-md-4 pe-0 pe-md-0 text-center z-index-2"><img class="img-fluid" src="public/img/illustrations/SHERBET.png" alt="" /></div>
                  <div class="col-md-8 ps-md-3 pe-md-2 text-center text-md-start z-index-2">
                    <div class="card-body px-0">
                      <h4 class="card-title pt-md-5">Jujube Sherbet</h4>
                      <p class="mb-0">ลิปบาล์มสารสกัดจากธรรมชาติ <br class="d-none d-lg-block"> สามารถใช้ได้ดีกับริมฝีปากที่แตกแห้งและบํารุง <br class="d-none d-lg-block"> ได้ลึกถึงชั้นหนังกําพร้า ช่วยรักษาให้ความชุ่มชื่น <br class="d-none d-lg-block"> ได้ลึกถึงชั้นหนังภายใน </p>
                      <div><a class="btn btn-lg ps-0 pe-3" href="#" role="button">เรียนรู้เพิ่มเติม
                            <svg class="bi bi-arrow-right" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#9C69E2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                            </svg>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-6">

        <div class="container">
          <div class="row flex-center px-3">
            <div class="col-12 col-md-6 px-md-0 order-1 order-md-0">
              <div class="text-center text-md-start">
                <p class="mb-0">Power
                  <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9C69E2" viewBox="0 0 16 16">
                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                  </svg>&nbsp;by&nbsp; LUV-SHOP
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 text-center text-md-end mb-3 mb-md-0"> <a href="#"><img class="img-fluid" style="height: 45px;" src="public/img/icons/arrow-right.png" height="14" alt="" /></a></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->

    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../vendors/@popperjs/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../public/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&amp;display=swap" rel="stylesheet">
  </body>

</html>